{% extends "template.html" %} 
{% load static %}

{% block title %}
    Inicio de sesion - INE  
{% endblock %}

{% block content %}
<form action="{% url 'login_process' %}" method="POST">
    {% csrf_token %}
    <input type="email" placeholder="Ingresa tu correo" name="email">
    <input type="password" placeholder="Ingresa tu contraseña" name="password">
    <button type="submit">Iniciar sesion</button>
    {% for message in messages %}<p>{{ message }}</p>{% endfor %}
</form>

<p>Aun no tienes cuenta? <a href="{% url 'signup' %}"> Crea una dando click aqui</a></p>
{% endblock %}